<h1 class="block text-2xl font-bold text-gray-800 sm:text-3xl dark:text-white">
  Welcome
  <%= current_user.name %>
</h1>

<h2
  class="
    mt-5
    block
    text-base
    font-bold
    text-gray-800
    sm:text-2xl
    dark:text-white
  "
>
  Reports
</h2>

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
    <%= render @reports %>
  </div>
</div>
