<div
  class="
    fixed
    z-50
    hidden
    py-2
    text-xs
    font-bold
    text-center
    text-blue-900
    bg-blue-200
    rounded
    sm:block
    bottom-2
    right-2
    full
    w-14
  "
>
  <span class="hidden sm:block md:hidden">sm</span>
  <span class="hidden md:block lg:hidden">md</span>
  <span class="hidden lg:block xl:hidden">lg</span>
  <span class="hidden xl:block 2xl:hidden">xl</span>
  <span class="hidden 2xl:block 3xl:hidden">2xl</span>
  <span class="hidden 3xl:block">3xl</span>
</div>
